@font-face {
	font-family: "Ubuntu Regular";
	src: url('../fonts/ubuntu-regular-webfont.woff') format("woff"),
		url('../fonts/ubuntu-regular-webfont.woff2') format("woff2");
	font-weight: normal;
	font-style: normal;
}

:root {
	--body-background: #ccc;
}

body {
	background-color: var(--body-background);
}

.header {}

.main {}

.footer {}

@media (min-width: 768px) {}
